@font-face {
    font-family: vt323;
    src: url(./VT323/VT323-Regular.ttf);
}

@font-face {
    font-family: firecode;
    src: url(./Fira_Code/static/FiraCode-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    --input-area-height: 70px;
}

body {
    background: black;
}

#gamecontainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: bisque;
    /* border: 3px outset bisque; */
}

div#terminal {
    background: rgb(20,20,20);
    color: rgb(210,210,210);
    border: 3px inset bisque;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    overflow: scroll;
    display: block;
    position: absolute;
    right: 5px;
    left: 5px;
    top: 5px;
    bottom: var(--input-area-height);
    font-family:firecode;
    font-size: 15px;
}


div#terminal div {
    display:block;
    transition: opacity 0.5s, bottom 0.5s, left 0.5s;
    position: relative;
    /* left: 1000px; */
    bottom: -5px;
    opacity: 0;
}

div#terminal div.choice-indicator {
    width: calc(1ch * 3);
    float: left;
    padding-left: 2ch;
    border-radius: 1ch;
}
div#terminal div.choice-text {
    margin-left: calc(1ch * 0.4);
    width: calc(100% - 1ch * 6);
    float: left;
}

div#terminal span.chosen-symbol {
    width:calc(1ch * 2);
    display: inline-block;
    padding-left: 1ch;
    border-radius: 1ch;
}

.item-description {
    color: grey;
    border-left: 1ch solid grey;
    border-bottom: calc(1ch*0.3) solid grey;
    border-color: grey;
    border-bottom-left-radius: 5px;
    padding-left: 1ch;
    padding-bottom: calc(1ch * 0.5);
    margin-bottom: calc(1ch * 0.2);
}

.exposition {
    color: grey;
    border-left: 1ch grey solid;
    border-right: 1ch grey solid;
    border-radius: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
    margin-top: 1.335em;
}

.dialog, .choice_begin{
    margin-top: 1.335em;
}

.dialog .dialog_tag {
    /*https://icolorpalette.com/color/muted-blue*/
    background-color: #3b719f;
    padding: 0 1ch;
}

div#inputs {
    height: var(--input-area-height);
    bottom: 5px;
    display: flex;
    align-items: center top;
    align-content: center;
    position: absolute;
    top: calc(100% - var(--input-area-height));
    bottom: 5px;
    left: 5px;
    right: 5px;
}

div#inputs button {
    display: inline-block;
    height: calc(var(--input-area-height) * 0.6 - 5px);
    padding: 0 5px;
    margin: 0 auto;

    margin-top: 5px;
    -webkit-appearance: none;
    /* background: rgb(220,220,220); */
    color: rgb(20,20,20);
    border: 3px outset grey;
    border-radius: 26px;
    width: 15vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: calc(var(--input-area-height)/3);
}
div#inputs button#button_delta {
    height: calc(var(--input-area-height) * 0.7 - 5px);
    padding-bottom: calc(var(--input-area-height) * 0.6 - 5px);
    font-size: 200%;
}
div#inputs button#button_delta, .delta {
    background-color: rgb(200,200,255);
    color: black;
}
div#inputs button#button_gamma, .gamma {
    background-color: rgb(186,255,201);
    color: black;
}
div#inputs button#button_sigma, .sigma {
    background-color: rgb(255,179,186);
    color: black;
}
div#inputs button#button_alpha, .alpha {
    background-color: rgb(255,233,186);
    color: black;
}
div#inputs button#button_omega, .omega {
    background-color: rgb(255,255,186);
    color: black;
}

div#inputs button:active {
    background: lime;
    border: 3px inset grey;
}

.color_red {
    color: red;
}

@media print {
    body {
        position: static;
        overflow: initial;
    }
    div#terminal {
        position: relative;
        color: black;
        background-color: white;
        border: none;
        height: 100%;
        bottom: 0;
        overflow:visible!important;
        overflow-y: visible;
    }
    div#gamecontainer {
        position: static;
        display: block;
    }
    div#inputs {
        position: static;
        visibility: hidden;
    }
    .psudoclear {
        page-break-after: always;
        max-height: 1em;
    }
}